<div id="div1">
<label for="text-input">Cambiar Password</label><br/>
  <label for="text-input">Password Antigua</label>
  <input type="password" 
         id="password"
         data-bind="ojComponent: {component: 'ojInputPassword', 
                                  value: oldpassword}"/>
									
  <label for="password">Password Nueva</label>								
  <input type="password" 
         id="password"
         data-bind="ojComponent: {component: 'ojInputPassword', 
                                  value: pwd1}"/>

<label for="password">Confirme Password</label>								
  <input type="password" 
         id="password"
         data-bind="ojComponent: {component: 'ojInputPassword', 
                                  value: pwd2}"/>								  
    <button id= "button"
            data-bind="click: cambiar, 
                       ojComponent: { component: 'ojButton', label: 'Cambiar' }">
    </button>
  <br/>
  
  <button id= "button"
            data-bind="click: cancelar, 
                       ojComponent: { component: 'ojButton', label: 'Cancelar' }">
    </button>
  <br/><br/>
  
</div>