<div id="div1">

	<label for="text-input">Seleccione el juego</label><br/>
  <button id= "button"
            data-bind="click: ter, 
                       ojComponent: { component: 'ojButton', label: 'Tres En Raya' }">
    </button>
  
  <button id= "button"
            data-bind="click: flota, 
                       ojComponent: { component: 'ojButton', label: 'Hundir La Flota' }">
    </button>
  <br/>
  
  <button id= "button"
            data-bind="click: verRanking, 
                       ojComponent: { component: 'ojButton', label: 'Ver Ranking' }">
    </button>
  <br/>
  
  <button id= "button"
            data-bind="click: cambiarPassword, 
                       ojComponent: { component: 'ojButton', label: 'Cambiar Password' }">
    </button>
  <br/>
  
  <button id= "button"
            data-bind="click: logout, 
                       ojComponent: { component: 'ojButton', label: 'Desconectar' }">
    </button>
  <br/>
  
</div>