<div id="div1">
<label for="text-input">Recuperar Password</label><br/>
  <label for="text-input">Email</label>
  <input id="text-input" 
         type="text"
         data-bind="ojComponent: {component: 'ojInputText', 
									value: email}"/>	
    <button id= "button"
            data-bind="click: cambiar, 
                       ojComponent: { component: 'ojButton', label: 'Recuperar' }">
    </button>
  <br/>
  
  <button id= "button"
            data-bind="click: cancelar, 
                       ojComponent: { component: 'ojButton', label: 'Cancelar' }">
    </button>
  <br/>
  
</div>